{% include base_path %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    {% if page.year %}
      <h2 class="archive__item-title">
        {{ page.year }} — {{ page.employer }}
      </h2>
    {% endif %}

    {% if page.terms %}
      {% for term in page.terms %}
        <h3 class="archive__item-excerpt">
          {{ term.name }}
        </h3>

        <ul class="archive__item-excerpt">
          {% for course in term.courses %}
            <li>
              {% if course.link %}
                <a href="{{ course.link }}">{{ course.name }}</a>
              {% else %}
                {{ course.name }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>

      {% endfor %}
    {% endif %}
  </article>
</div>