{% include base_path %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    {% if page.year %}
      <h2 class="archive__item-title">
        {{ page.year }}
      </h2>
    {% endif %}

    <!-- {% if page.employer %}
      <h2 class="archive__item-subtitle">
        {{ page.employer }}
      </h2>
    {% endif %} -->

    {% if page.employer %}
      <h2 class="archive__item-normaltext">
        {{ page.employer }} ({{ page.role }})
      </h2>
    {% endif %}

    {% if page.terms %}
      <ul>
      {% for term in page.terms %}
        <li class="archive__item-normaltext" itemprop="headline">
          {{ term.name }}
        </li>

        <ul class="archive__item-excerpt">
          {% for course in term.courses %}
            <li>
              {% if course.link %}
                <a href="{{ course.link }}">{{ course.name }}</a>
              {% else %}
                {{ course.name }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
      </ul>
    {% endif %}
  </article>
</div>